*{
    box-sizing: border-box;
}

p{color:green ; font-size: 22px}

h1{
    color: crimson; font-size: 36px;
}

button {
background-color: black; color: chartreuse; font-size: 24px;
}

body {
    background-color: cornflowerblue;
}

#hello {
    color:blanchedalmond ; font-weight: bold;
}